<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.king.func.mapper.FuncMapper">

    <resultMap type="Func" id="FuncResult">
        <id property="id" column="id"/>
        <result property="funcName" column="func_name"/>
        <result property="parentName" column="parent_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="orderNum" column="order_num"/>
        <result property="url" column="url"/>
        <result property="funcType" column="func_type"/>
        <result property="visible" column="visible"/>
        <result property="perms" column="perms"/>
        <result property="icon" column="icon"/>
        <result property="createBy" column="create_by"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectFuncVo">
        select id, func_name, parent_id, order_num, url, func_type, visible, perms, icon, create_by, creator,create_time
		from bg_func
    </sql>
    
   <select id="findByCreator" resultMap="FuncResult">
        <include refid="selectFuncVo"/>
        where create_by= #{loginName}
        order by order_num
    </select>


    <select id="selectCountFuncByParentId" resultType="Integer">
	    select count(1) from bg_func where parent_id=#{parentId}
	</select>
	
	<select id="selectFuncList" parameterType="Func" resultMap="FuncResult">
        <include refid="selectFuncVo"/>
        <where>
            <if test="funcName != null and funcName != ''">
                AND func_name like concat('%', #{funcName}, '%')
            </if>
            <if test="visible != null and visible != ''">
                AND visible = #{visible}
            </if>
            <if test="creator != null and creator != ''">
                AND creator = #{creator}
            </if>
        </where>
        order by order_num
    </select>
</mapper> 