<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimple.project.king.exam.mapper.QuestionOptionMapper">
    <!--基本的blog信息-->
    <resultMap id="BaseResultMap" type="com.dimple.project.king.exam.domain.QuestionOption">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="question_id" property="questionId" jdbcType="BIGINT"/>
        <result column="option_order" property="optionOrder" jdbcType="VARCHAR"/>
        <result column="option_val" property="optionVal" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    

    <sql id="selectBlogVo">
        select id, question_id, option_order, option_val,
        create_by, create_time, update_by, update_time
        from bg_question_option
    </sql>

    <insert id="insertObj" useGeneratedKeys="true" keyProperty="id">
        insert into bg_question_option(
        <if test="id != null and id != 0">id,</if>
        <if test="questionId != null and questionId != 0">question_id,</if>
        <if test="optionOrder != null and optionOrder != ''">option_order,</if>
        <if test="optionVal != null and optionVal != ''">option_val,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="id != null and id != 0">#{id},</if>
        <if test="questionId != null and questionId != 0">#{questionId},</if>
        <if test="optionOrder != null and optionOrder != ''">#{optionOrder},</if>
        <if test="optionVal != null and optionVal != ''">#{optionVal},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>
    
    <select id="selectByQuestionIds" resultType="com.dimple.project.king.exam.domain.QuestionOption">
        select b.* from bg_question_option b where question_id in
         <foreach collection="questionIds" item="questionId" open="(" separator="," close=")">
            #{questionId}
        </foreach>
        order by id
    </select>

</mapper>