<!doctype html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:include="include-front-custom :: head('关于我-Dimple的个人博客','个人简介')"/>

    <style>
        /*重写default.css演示*/
        .maybe-love ul li:nth-of-type(3), .maybe-love ul li:nth-of-type(4) {
            display:inline;
        }
        .maybe-love ul li{
            width: 30%;
        }
    </style>
</head>
<body class="nobg">
<th:block th:replace="include-front-custom :: header"/>

<!--内容区开始-->
<div class="container" style="">

    <div id="baidumapcontainer" style="height: 200px;"></div>
    <div th:replace="baidu-map :: newmap('baidumapcontainer',113.5796810500,22.3777888800)"></div>

    <section class="mysection" style="width: 100%;">
        <div class="maybe-love">
            <h4 class="index-title"><i class="fa fa-heart"></i>相关产品11</h4>
            <ul>
                <li>
                    <img src="/img/king/goods1.png" alt=""  title="" style=""/>
                    <a href="/bbs/hjhy.html"><span>智能门锁</span></a>
                </li>
                <li>
                    <img src="/img/king/goods4.png" alt=""  title="" style=""/>
                    <a href="/scan/goods.html"><span>智能挂锁</span></a>
                </li>
                <li>
                    <img src="/img/king/goods5.png" alt=""  title="" style=""/>
                    <a href="/scan/about.html"><span>搭扣锁</span></a>
                </li>
            </ul>
        </div>
        <article>
            <div class="about-content" style="padding:0;">
                <h2 class="gd_title">关于本站</h2>
                <ul class="myblog">
                    <div class="intro">
                        <h5>博客简介 | Blog：</h5>
                        <div class="intro_detail">
                            <div>
                                程&nbsp;序：基于SpringBoot开发的个人博客程序。 <span class="wb_url"><a
                                    href="https://github.com/DimpleFeng/DimpleBlog"
                                    target="_blank">GitHub</a></span><br>
                                域&nbsp;名：www.bianxiaofeng.com，创建于2017<span class="wb_url"><a
                                    href="https://wanwang.aliyun.com/"
                                    target="_blank">注册域名</a></span><br>
                                服务器：阿里云轻量级应用服务器(2G)<span class="wb_url"><a
                                    href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=3viaxu0k"
                                    target="_blank">购买空间</a></span><br>
                                备案号：蜀ICP备 19004343<br>
                            </div>
                        </div>
                        <h5>搭建博客目的 | Goal：</h5>
                        <div class="intro_detail">
                            <div>
                                 1、掌握Java基础语法及面向对象设计，数据结构。<br>
                                2、熟悉HTML、CSS、Javascript(搬砖型)、AJAX、JSON等Web页面技术。<br>
                                3、熟悉主流JavaEE开发技术，熟练使用Struts2，Hibernate，Spring，Mybatis，Shiro，SpringBoot等。<br>
                                4、精通MySQL数据库，能熟练地运用SQL语句。<br>
                                5、熟悉Redis等NOSQL数据库。<br>
                                6、熟悉Git，Maven等工具。<br>
                                7、会使用SVN、Git版本控制工具。<br>
                                8、有良好的代码编写习惯，熟悉开发/使用文档的编写。<br>
                                9、其他技术正在学习中！唯一能持久的竞争优势是胜过竞争对手的学习能力。<br>
                                <hr>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </article>
    </section>
</div>
<th:block th:replace="include-front :: footer"/>
</body>
</html>