<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimple.project.common.mapper.FileItemInfoMapper">

    <insert id="insertFileItem">
        insert into bg_file_item_info (
        <if test="name != null and name != '' ">name,</if>
        <if test="originalName != null and originalName != '' ">original_name,</if>
        <if test="hash != null and hash != '' ">hash,</if>
        <if test="size != null  ">size,</if>
        <if test="mimeType != null and mimeType != '' ">mime_type,</if>
        <if test="putTime != null">put_time,</if>
        <if test="serverType != null and serverType != ''">server_type,</if>
        <if test="path != null and path != ''">path,</if>
        <if test="entityId != null and entityId != ''">entity_id,</if>
        <if test="entityType != null and entityType != ''">entity_type,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="createTime != null">create_time,</if>
        <if test="relativePath != null and relativePath != ''">relative_path</if>
        )values(
        <if test="name != null and name != ''">#{name},</if>
        <if test="originalName != null and originalName != '' ">#{originalName},</if>
        <if test="hash != null and hash != ''">#{hash},</if>
        <if test="size != null ">#{size},</if>
        <if test="mimeType != null and mimeType != ''">#{mimeType},</if>
        <if test="putTime != null">#{putTime},</if>
        <if test="serverType != null and serverType != ''">#{serverType},</if>
        <if test="path != null and path != ''">#{path},</if>
        <if test="entityId != null">#{entityId},</if>
        <if test="entityType != null and entityType != ''">#{entityType},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="createTime != null">#{createTime},</if>
        <if test="relativePath != null and relativePath != ''">#{relativePath}</if>
        )
    </insert>


    <delete id="deleteByServerType">
        delete from bg_file_item_info where server_type =#{serverType}
    </delete>
    <delete id="deleteByNameAndServerType">
        delete  from bg_file_item_info where server_type =#{serverType} and name=#{name}
    </delete>


    <select id="getFileItemList" resultType="com.dimple.project.common.domain.FileItemInfo">
        select id,name,original_name,hash,size,mime_type,put_time,server_type,path,relative_path,create_by,create_time
        from bg_file_item_info
        <where>
            status = '1'
            <if test="name != null and name != ''">
                and name like concat('%', #{configName}, '%')
            </if>
            <if test="mimeType !=null and mimeType!=''">
                and mime_type=#{mimeType}
            </if>
            <if test="serverType !=null and serverType !=''">
                and server_type =#{serverType}
            </if>
            <!--<if test="beginTime != null and beginTime != ''">&lt;!&ndash; 开始时间检索 &ndash;&gt;
                and date_format(put_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime != ''">&lt;!&ndash; 结束时间检索 &ndash;&gt;
                and date_format(put_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>-->
            <if test="entityType != null and entityType != ''">
                and entity_type = #{entityType}
            </if>
            <if test="entityId != null and entityId != 0">
                and entity_id = #{entityId}
            </if>
        </where>
    </select>
</mapper>