<!doctype html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:include="include-front-custom :: head('5180it.com','欢迎进入')"/>

    <!-- 遮罩层 -->
    <script th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>

    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
   <!-- <script th:src="@{/ajax/libs/layui/layui.js}"></script>-->
    <script th:src="@{/dimple/js/common.js}"></script>
    <script th:src="@{/dimple/js/ui.js}"></script>
</head>

<body class="nobg">
<!--<th:block th:replace="include-front-custom :: header"/>-->
<header class="myheader" th:fragment="header">
    <!--导航开始-->
    <div class="top">
        <div class="top-left">
            <!--logo部分-->
            <div class="logo">
                <a href="/">
                    <img src="/front/images/logo.png"/>
                </a>
            </div>
            <!--滚动消息-->
            <div class="web-xiaoxi">
                <i class="fa fa-volume-up"></i>
                <ul class="mulitline">
                    <li th:each="notice:${notices}" th:text="${notice.noticeTitle}"></li>
                </ul>
            </div>
            <!--手机菜单按钮-->
            <div class="mobile-nav"><i class="fa fa-list"></i><i class="fa fa-remove"></i></div>
        </div>
        <!--电脑导航开始-->
        <nav class="mynav">
            <ul class="orange-text">
                <li th:each="func:${funcList}">
                    <a th:href="${'/king/func/'+func.id+'.html'}"
                       th:text="${func.funcName}"></a>
                </li>
                 <li>
                    <a onclick="openAddDiolog();" style="color: #000000;">+添加菜单</a>
                 </li>
            </ul>

            <!--移动的滑动-->
            <div class="move-bg"></div>
            <!--移动的滑动 end-->
        </nav>

        <!--手机导航-->
        <div class="mob-menu">
            <!--手机下拉菜单-->
            <ul class="mob-ulnav">
                <li th:each="func:${funcList}">
                    <a th:href="${'/king/func/'+func.id+'.html'}"
                       th:text="${func.funcName}"></a>
                </li>
                <li>
                    <a onclick="openAddDiolog();" style="color: #000000;">+添加菜单</a>
                 </li>
            </ul>
        </div>
    </div>
    <!--导航结束-->
</header>

<!--内容区开始-->
<div class="container">
    <!--最新文章-->
    <section class="mysection" style="width: 95%;">
        <h4 class="index-title">
            <a href="/"><i class="fa fa-home"></i>当前页: &nbsp;> </a>
            <span class="orange-text" th:text="${funcName}"></span>
            <span style="float:right;margin-right:10px;">共有文章:<font class="orange-text"
                th:text="${blogs.total}"></font>篇</span>
        </h4>
        <div style="font-size: 12px;">
        	<a th:onclick="toFirst([[${funcId}]]);">【置顶】</a>
            <a th:onclick="toUpdate([[${funcId}]]);">【修改】</a>
            <a th:onclick="toDel([[${funcId}]]);">【删除】</a>
        </div>
        <!--<div>
            <p class="smallText" th:text="${'分类描述：'+funcName}"></p>
            <p class="smallText" th:text="${'创建时间：'+funcName}"></p>
        </div>-->
        <hr/>
        <div class="arclist">
            <!--列表开始-->
            <ul>
                <li th:each="blog:${blogs.list}">
                    <div class="arcimg">
                        <img
                                th:src="${blog.headerImg}"
                                th:alt="${blog.title}" th:title="${blog.title}"/>
                    </div>
                    <div class="arc-right">
                        <h4 class="blue-text">
                            <a th:href="${'/f/article/'+blog.blogId+'.html'}"
                               th:title="${blog.title}"
                               th:text="${blog.title}">
                            </a>
                        </h4>
                        <p th:text="${blog.summary}"></p>
                        <ul>
                            <li>
                                <a th:title="${'ls2008'+#dates.format(blog.createTime, 'yyyy-MM-dd')+'发表'}">
                                    <i class="fa fa-clock-o"></i>
                                    <span th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd')}"></span>
                                </a>
                            </li>
                            <li>
                                <a title="作者： ls2008"><i class="fa fa-user"></i>ls2008</a>
                            </li>
                            <li><a th:title="${'已有'+blog.commentCount+'条评论'}">
                                <i class="fa fa-comments-o"></i>
                                <span th:text="${blog.commentCount}"></span>
                            </a>
                            </li>
                            <li><a th:title="${'已有'+blog.click+'次浏览'}"><i class="fa fa-eye"></i><span
                                    th:text="${blog.click}"></span></a></li>
                            <li>
                                <a class="btn btn-success btn-xs " href="javascript:void(0)" th:onclick="openModal('/blog/blog/func/edit/[[${blog.blogId}]]','95%','95%','编辑');"><i class="fa fa-edit"></i> 编辑</a>
                                <a class="btn btn-danger btn-xs " href="javascript:void(0)" th:onclick="delObj([[${blog.blogId}]]);"><i class="fa fa-remove"></i> 删除</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!--列表结束-->
        </div>
        <!--分页开始-->
        <div th:replace="navigation :: navigation(${blogs},'king/func',${funcId})"></div>
        <!--分页结束-->
    </section>
    <!--左侧结束-->
    <!--<th:block th:replace="include-front-custom :: side"/>-->
</div>
<!--<th:block th:replace="include-front-custom :: footer"/>-->

<script>
    function delObj(objId){
        layer.confirm('确定删除该记录吗?', {
            icon: 3,
            title: "系统提示",
            btn: ['确认', '取消']
        }, function (index) {
            layer.close(index);
            $.operate.submit ('/blog/blog/remove', 'delete', 'json', {"ids":objId}, function(result){
               window.location.href="/king/func?funcId=[[${funcId}]]";
            });
        });
    }
    
    //添加菜单
    function openAddDiolog(){
    	 layer.open({
             type: 2,
             area: ['80%', '200px'],
             fix: false,
             //不固定
             maxmin: true,
             shade: 0.3,
             title: "添加菜单",
             content: '/king/func/onBlogAdd',
             btn: ['确定', '关闭'],
             // 弹层外区域关闭
             shadeClose: true,
             yes: function (index, layero) {
                 var iframeWin = layero.find('iframe')[0];
                 iframeWin.contentWindow.submitHandler(index, layero);
             },
             cancel: function (index) {
                 return true;
             }
         });
    }
    
    //置顶
    function toFirst(funcId){
    	layer.confirm('确定要置顶该菜单吗?', {icon: 3,title: "系统提示",btn: ['确认', '取消']}, 
    	function (index) {
            layer.close(index);
            $.ajax({
	            type: "POST",
	            url: "/king/func/toFirst/"+funcId,
	            data: {},
	            dataType: "json",
	            success: function (data) {
	            	console.info(data);
	                if (data.code == 200) {
	                	layer.msg(data.msg, {icon: 1});
	                    window.location.reload();
	                }else{
	                	 layer.msg(data.msg, {icon: 2});
	                }
	            },
	            error: function (jqXHR) {
	                layer.msg('发送错误：' + jqXHR.status, {icon: 2});
	            },
	        });
        });
    }
    
    //添加菜单
    function toUpdate(funcId){
    	 layer.open({
             type: 2,
             area: ['80%', '200px'],
             fix: false,
             //不固定
             maxmin: true,
             shade: 0.3,
             title: "添加菜单",
             content: '/king/func/edit/'+funcId,
             btn: ['确定', '关闭'],
             // 弹层外区域关闭
             shadeClose: true,
             yes: function (index, layero) {
                 var iframeWin = layero.find('iframe')[0];
                 iframeWin.contentWindow.submitHandler(index, layero);
             },
             cancel: function (index) {
                 return true;
             }
         });
    }
    
    function toDel(funcId){
    	layer.confirm('确定要删除该菜单吗?', {icon: 3,title: "系统提示",btn: ['确认', '取消']}, 
    	function (index) {
            layer.close(index);
            $.ajax({
	            type: "GET",
	            url: "/king/func/remove/"+funcId,
	            data: {},
	            dataType: "json",
	            success: function (data) {
	            	console.info(data);
	                if (data.code == 200) {
	                	layer.msg(data.msg, {icon: 1});
	                    window.location.reload();
	                }else{
	                	 layer.msg(data.msg, {icon: 2});
	                }
	            },
	            error: function (jqXHR) {
	                layer.msg('发送错误：' + jqXHR.status, {icon: 2});
	            },
	        });
        });
    }
</script>
</body>
</html>