<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>重置密码页面</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" /> 
	
	<script type="text/javascript" th:src="@{/front/js/jquery.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    
	<link rel="stylesheet" type="text/css" href="/public/front-login/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/public/front-login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/public/front-login/fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/public/front-login/css/util.css">
	<link rel="stylesheet" type="text/css" href="/public/front-login/css/main.css">
</head>

<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('/public/front-login/images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form id="resetPwdForm" class="login100-form validate-form">
					<span class="login100-form-title p-b-49" style="padding-bottom: 29px;">重置密码</span>
					<span id="operTip" style="text-align:center;display: block;color: #f5222d;"></span>
					<input type="hidden" id="toPage" name="toPage" th:value="${toPage}">
					<div class="wrap-input100 validate-input m-b-23" data-validate="请输入用户名">
						<span class="label-input100">用户名</span>
						<input class="input100" type="text" id="loginName" name="loginName" placeholder="请输入用户名" autocomplete="off"  th:value="${loginName}">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="请输入密码">
						<span class="label-input100">密码</span>
						<input class="input100" type="password" id="password" name="password" placeholder="请输入密码" value="">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="请输入密码">
						<span class="label-input100">确认密码</span>
						<input class="input100" type="password" id="password2" name="password2" placeholder="请输入密码" value="">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="请输入验证码">
						<span class="label-input100">验证码</span>
						<input class="input100" type="text" id="vericode" name="vericode" placeholder="请输入验证码" value="">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					<div class="text-right p-t-8 p-b-31"></div>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="button">提交</button>
						</div>
					</div>
					<div class="flex-col-c p-t-25">
						<a th:href="${'/bbs/front/toLogin?toPage='+toPage}" class="txt2">立即登录</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- <script src="/public/front-login/vendor/jquery/jquery-3.2.1.min.js"></script> -->
	<script src="/js/jquery.min.js"></script>
	<script src="/public/front-login/js/main.js"></script>
	
	
	 <script>
	 
	 $(function () {
		 $(".login100-form-btn").click(function(){
			 	if ($("#loginName").val() == "") {
		            layer.msg('用户名不能为空喔', {icon: 2});
		            return false;
		        }else{
		        	var reg = new RegExp("^[A-Za-z0-9]+$");
		            var loginName = $("#loginName").val();
		            if (!reg.test(loginName)) {
		                layer.msg('用户名只能由数字和26个英文字母组成', {icon: 2});
		                return false;
		            }
		        }
			 	if ($("#password").val() == "") {
		            layer.msg('密码不能为空喔', {icon: 2});
		            return false;
		        }else{
		        	var reg = new RegExp("^[A-Za-z0-9]+$");
		            var password = $("#password").val();
		            if (!reg.test(password)) {
		                layer.msg('密码只能由数字和26个英文字母组成', {icon: 2});
		                return false;
		            }
		        }
			 	if ($("#password2").val() == "") {
		            layer.msg('确认密码不能为空喔', {icon: 2});
		            return false;
		        }else{
		        	var reg = new RegExp("^[A-Za-z0-9]+$");
		            var password2 = $("#password2").val();
		            if (!reg.test(password2)) {
		                layer.msg('确认密码只能由数字和26个英文字母组成', {icon: 2});
		                return false;
		            }
		        }
			 	if($("#password").val()!=$("#password2").val()){
			 		layer.msg('两次密码不一致', {icon: 2});
	                return false;
			 	}
			    $.ajax({
 		            type: "POST",
 		            url: "/bbs/front/resetPwd",
 		            data: $("#resetPwdForm").serialize(),
 		            dataType: "json",
 		            success: function (data) {
 		                if (data.code == 200) {
 		                	layer.msg(data.msg, {icon: 1});
 		                	window.location.href="/bbs/front/toLogin?toPage="+$("#toPage").val();
 		                }else{
 		                	$("#operTip").html(data.msg);
 		                }
 		            },
 		            error: function (jqXHR) {
 		            	  //layer.msg('发送错误：' + jqXHR.status, {icon: 2});
 		                $("#operTip").html('发送错误：' + jqXHR.status);
 		            },
 		        });
		 });
	 });
	 </script>
</body>

</html>