<!DOCTYPE HTML>
<html lang="zh" xmlns:th="https://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('题目列表')"/>
</head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="notice-form">
                <div class="select-list">
                    <ul>	
                   		 <li>
                            	题目类型：
								<select name="questionType" th:with="type=${@dict.getType('question_type')}">
		                            <option value="">所有</option>
		                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
		                                    th:value="${dict.dictValue}"></option>
		                        </select>
                        </li>
                        <li>
                            	题目：
                            	<input type="text" name="content"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.addFull()">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary btn-edit single disabled" onclick="$.operate.editFull()">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del multiple disabled" onclick="$.operate.removeAll()">
                <i class="fa fa-trash"></i> 删除
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var questionTypes = [[${@dict.getType('question_type')}]];
    var datas = [[${@dict.getType('sys_notice_status')}]];
    var prefix = ctx + "king/question";

    
    /* 停用 */
    function disable(id) {
        $.modal.confirm("确认要隐藏该通知吗？", function () {
            $.operate.put("/system/notice/changeDisplay/0", {"id": id});
        })
    }

    /* 启用 */
    function enable(id) {
        $.modal.confirm("确认要显示该通知吗？", function () {
            $.operate.put("/system/notice/changeDisplay/1", {"id": id});
        })
    }

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            modalName: "题目",
            columns: [{
                field: 'state',
                checkbox: true
            },
                {
                    field: 'id',
                    title: '序号',
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                }, {
                    field: 'questionType',
                    title: '题目类型',
                    align: 'center',
                    formatter: function (value, row, index) {
                        for(var i=0;i<questionTypes.length;i++){
                        	if(value==questionTypes[i].dictValue){
                        		return questionTypes[i].dictLabel;
                        	}
                        }
                        return '';
                    }
                },
                {
                    field: 'content',
                    title: '题目'
                },
                {
                    field: 'createBy',
                    title: '创建者'
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + '" href="javascript:void(0)" onclick="$.operate.editFull(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-trash"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);

    });
</script>
</body>
</html>